In [34]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('Dataset/credit_data.csv')

<h2>Data Analyzation</h2>

In [4]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [8]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
data.value_counts("Class")

Class
0    284315
1       492
Name: count, dtype: int64

0 -- legit
1 -- fraud

<h2>Picking the 0s and 1s</h2>

In [26]:
imbalanced = data[data.Class == 0]
y = data[data.Class == 1]

In [27]:
imbalanced.shape

(284315, 31)

<h2>Taking random 492 value to balance out the data</h2>

In [28]:
balanced = imbalanced.sample(n=492)

In [29]:
balanced.shape

(492, 31)

In [30]:
data2 = pd.concat([balanced, y], axis=0)

In [31]:
data2.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
259760,159260.0,2.189757,-1.663723,0.040048,-1.581248,-1.853630,0.032107,-1.855467,0.116155,-0.888309,...,-0.100279,0.251960,0.279721,-0.348462,-0.518499,-0.248406,0.064736,-0.039845,24.9,0
100185,67444.0,-1.138322,0.085699,3.145596,-1.417040,-1.604292,-0.035245,-0.586014,0.205161,0.817620,...,0.037014,0.738928,-0.375045,0.743709,0.546511,-0.148796,0.387590,0.028614,2.4,0
210833,138139.0,-1.462192,0.964229,0.092672,-0.906416,-0.407730,-1.381578,0.502616,0.351793,-2.318549,...,-0.211023,-0.350941,-0.359437,0.522526,0.883499,0.753837,-0.393101,-0.148591,28.0,0
195245,130965.0,1.778661,-0.263032,0.919062,4.024988,-0.434436,2.161918,-1.370207,0.566137,0.876731,...,0.062019,0.626037,0.099404,0.076414,-0.166065,0.088273,0.085161,-0.011869,30.2,0
167853,118924.0,-0.748001,1.021897,1.101208,-0.108153,0.651587,0.543523,0.244027,0.096773,0.003462,...,0.119267,0.432614,-0.561629,0.014310,0.519701,0.903570,-0.213656,0.100160,10.6,0

<h2>Balanced</h2>

In [32]:
data2.value_counts('Class')

Class
0    492
1    492
Name: count, dtype: int64