In [10]:
import kaggle as kaggle
import zipfile
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi

In [11]:
api = KaggleApi()

In [12]:
api.authenticate()

In [13]:
data = "middlehigh/los-angeles-crime-data-from-2000"

In [14]:
api.dataset_download_files(data, path= '.', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/middlehigh/los-angeles-crime-data-from-2000

In [18]:
data1 = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [28]:
data1.shape

(944235, 28)

In [23]:
data1

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
944231,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
944232,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
944233,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
944234,240900704,04/29/2024 12:00:00 AM,04/29/2024 12:00:00 AM,2020,9,Van Nuys,916,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,998.0,NaN,NaN,6800 HAZELTINE AV,NaN,34.1939,-118.4400

In [19]:
data1.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [21]:
data1.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.442350e+05,944235.000000,944235.00000,944235.000000,944235.000000,944235.000000,944235.000000,944225.000000,324477.000000,944224.000000,68258.000000,2281.000000,64.00000,944235.000000,944235.000000
mean,2.188777e+08,1338.047956,10.72113,1118.554020,1.409594,500.810848,29.499314,306.554488,363.710143,500.556373,958.083639,984.021920,991.21875,33.992364,-118.070963
std,1.246230e+07,652.446103,6.09928,609.969102,0.491759,207.283501,21.882246,217.561137,123.570915,207.076911,110.336391,51.798407,27.06985,1.670190,5.789397
min,8.170000e+02,1.000000,1.00000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.105081e+08,900.000000,6.00000,622.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014500,-118.430700
50%,2.206203e+08,1419.000000,11.00000,1142.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.307061e+08,1900.000000,16.00000,1619.000000,2.000000,626.000000,45.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.274000
max,2.499138e+08,2359.000000,21.00000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [22]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944235 entries, 0 to 944234
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           944235 non-null  int64
 1   Date Rptd       944235 non-null  object
 2   DATE OCC        944235 non-null  object
 3   TIME OCC        944235 non-null  int64
 4   AREA            944235 non-null  int64
 5   AREA NAME       944235 non-null  object
 6   Rpt Dist No     944235 non-null  int64
 7   Part 1-2        944235 non-null  int64
 8   Crm Cd          944235 non-null  int64
 9   Crm Cd Desc     944235 non-null  object
 10  Mocodes         811136 non-null  object
 11  Vict Age        944235 non-null  int64
 12  Vict Sex        817640 non-null  object
 13  Vict Descent    817630 non-null  object
 14  Premis Cd       944225 non-null  float64
 15  Premis Desc     943668 non-null  object
 16  Weapon Used Cd  324477 non-null  float64
 17  Weapon Desc     324477 non-null  object
 18  Status          944235 non-null  object
 19  Status Desc     944235 non-null  object
 20  Crm Cd 1        944224 non-null  float64
 21  Crm Cd 2        68258 non-null   float64
 22  Crm Cd 3        2281 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        944235 non-null  object
 25  Cross Street    147592 non-null  object
 26  LAT             944235 non-null  float64
 27  LON             944235 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 201.7+ MB